a {
    text-decoration: none;
}


div.show-icon i.fa { 
    display: inline-block;
    font-size: 50px;
}
div.show-icon img { 
    display: none; 
}
button {
    background: none;
    border: none;
}